body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
.container {
    max-width: 640px;
    margin: 0 auto;
}
.container h1{
    margin: 60px 0 40px;
    font-weight: bold;
    font-size: 35px;
}
.collapsed_item {
    position: relative;
}
.collapsed_list{
    border: 1px solid rgba(0, 0, 0, 0.09);
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}
.collapsed_label{
    cursor: pointer;
    font-size: 13px;
    padding: 16px 40px;
    display: flex;
    align-items: center;
    background-color: #F5F5F5;
    border: 1px solid #E8E8E8;
}
.collapsed_item::before {
    content: "";
    position: absolute;
    left:-10px;
    top:10px;
    width: 2px;
    box-sizing: border-box;
    height: calc(100% - 10px);
    background-color:  #0179FF;
 }
 @media (max-width: 650px){
    .collapsed_item::before {
        left: 0;
        
    }
    .container h1 {
        margin-left: 20px;
    }

 }
 
.arrow{
    position: absolute;
    height: 7px;
    width: 7px;
    top:20px;
    left: 20px;
    border-right: 1px solid rgba(0, 0, 0, 0.65);
    border-bottom: 1px solid rgba(0, 0, 0, 0.65);
    margin-right: 9px;
    transform: rotate(-45deg);
}
input:checked  ~ div.arrow{
    transform: rotate(45deg);
}

.collapsed_content {
    padding: 20px;
    box-sizing: border-box;
    color: #5D5D5D;
    display: none;
}

.collapsed_content h3{
    font-size: 15px;
    font-weight: bold;
    margin: 0 0 10px;
}
.collapsed_content p {
    font-size: 13px;
    line-height: 20px;
    margin-right: 20px;
}
.collapsed_content a{
    color: #0179FF;
}
.collapsed_content img{
    display: block;
    margin: auto;
    max-width: 100%;
}
input:checked ~ div.collapsed_content{
    display: block;
}
input:checked  ~ div.arrow{
    transform: rotate(45deg);
}

input{
    display: none;
}
